h1 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 40px;
}

section {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

article {
    background-color: #272727;
    padding: 2rem 2rem;
    border-radius: 20px;
    margin-bottom: 40px;
}

article::after {  /*"limpar" os floats*/
    content: "";
    display: block;
    clear: both;
}

article ul {
    list-style:  "✓ " inside;
}

.col-sublista ul {
    margin: 0;
}

/* opcion 1. Pantalla moi pequena. Todo apilado */
.col-titulo,
.col-lista,
.col-sublista {
    width: 100%;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    li {
        font-size: 0.9rem;
    }
}

/* Opcion 2. Pantalla mediana. Nome ao lado */
@media screen and (min-width: 750px) {
    .col-titulo {
        width: 30%;
        float: left;
    }
    .col-lista {
        width: 70%;
        float: right;
    }
}



/* Opcion 3. Pantalla mais grande. 3 columnas */

@media screen and (min-width: 1000px) {

    .col-sublista {
        width: 50%;
        float: left;
    }

}
