body {
	background-color: #000;
	font-family: 'Istok Web', 'Noto Sans', 'Open Sans', sans-serif;
	/*font-size: 1vw;*/
	color: #fff;
}

html {
	font-size: 20px;
}

h1 {
	font-size: 3rem;
	color: #8BE8CB;
}

h4 {
    color: #ADADAD;
}

time {
    color: #ADADAD;
    font-size: .8rem;
}



a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #D9D9D9;
}

ul {
	list-style: none;
}



/*********
* HEADER *
**********/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-principal,
.nav-social {
	display: flex;
}

/*.logo img {
	display: block;
}*/

/*menu esquerdo*/
.menu {
	font-weight: bold;
	display: flex;
	gap: 2rem;
}

/*barra busca*/
.barra-busca {
	display: flex;
	gap: .5rem;
}

/*menu dereito*/
.social {
	display: flex;
	list-style: none;
	gap: 3rem;
	margin-right: 3rem;
}


/*********
* FOOTER *
**********/
footer {
	display: flex;
	font-size: 75%;
	background: #272727;
}






