main {
    margin: 0 3%;
}

main ul {
    columns: 300px 3;
    column-gap: 4%;
}

main li {
    break-inside: avoid;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 25px;
    padding: 1rem 2rem;
}

main section{
    margin-bottom: 4rem;
}

main h2{
    color:#8BE8CB;
}

main a{
    color:#8BE8CB;
}